---
title: Growcn labs|growcn实验室
---

<div class="wrap">
    <div class="header">
        <a href="http://lab.growcn.com" target="_self">
            <h1>
                growcn实验室
            </h1>
        </a>
<!--         <span>
            <a href="http://www.growcn.cn" title="Growcn首页">
                Growcn首页
            </a>
        </span> -->
    </div>
    <!--end header-->
    <div class="area">
        <div class="applist">
            <ul style="margin-bottom:25px">
              
              <%=list_app_li_tag("短链接","快速缩短网址,生成短链接，更好传递。提供api接口，方便调用！","http://dlj.bz")%>

              <%=list_app_li_tag("网址标签","网址标签,提供chrome插件，更好的快速记录网络，对于网址支持记录多个标签！提供全文检索更好的从碎片中快速开打印象中的网址。","http://pkt.growcn.com")%>
    
              <%=list_app_li_tag("新概念随意记","新概念随意记，利用碎片时间已句子的型式学习英语。","http://dlj.bz/tIVL")%>
            </ul>


            <div class="line"></div>
            <!--end line-->

            <ul>
                <li>
                    <dl>
                        <dt class="app-4">
                            <a href="#">
                            </a>
                        </dt>
                        <dd>
                            <h3>
                                <a href="#">
                                </a>
                            </h3>
                        </dd>
                    </dl>
                    <p>
                     
                    </p>
                </li>
                <li>
                    <dl>
                        <dt class="app-add">
                        </dt>
                        <dd>
                            <h4>
                                更多的应用 敬请期待！
                            </h4>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--end area-->
    <div class="areab">
        <div class="areabl">
        </div>
        <div class="areabr">
        </div>
    </div>
    <!--end areab-->
</div>
<!--end warp-->
