---
title: Growcn labs|growcn实验室
---

<div class="wrap">
    <div class="header">
        <a href="http://lab.growcn.com" target="_self">
            <h1>
                growcn实验室
            </h1>
        </a>
<!--         <span>
            <a href="http://www.growcn.cn" title="Growcn首页">
                Growcn首页
            </a>
        </span> -->
    </div>
    <!--end header-->
    <div class="area">
        <div class="applist">
            <ul style="margin-bottom:25px">
              
              <%=list_app_li_tag("短链接","快速缩短网址,生成短链接，更好传递。提供api接口，方便调用！","http://dlj.bz", image_tag("logo-dljbz.png",{width:"80px", height: "60px"}) )%>

              <%=list_app_li_tag("疯狂英语365句","本资料是李阳先生专门细心选择出的365个英语口语“最核心”的句子贡献给大家。只要大家一天一个句子，一年之内尽可以进行流畅的日常交流。","http://ce365.growcn.com", image_tag("logo-ce365.png",{width:"60px", height: "60px"}) )%>

              <%#=list_app_li_tag("网址标签","网址标签,提供chrome插件，更好的快速记录网络，对于网址支持记录多个标签！提供全文检索更好的从碎片中快速开打印象中的网址。","http://pkt.growcn.com")%>
    
              <%#=list_app_li_tag("新概念随意记","新概念随意记，利用碎片时间已句子的型式学习英语。","http://dlj.bz/tIVL")%>
            </ul>

            <!--
            <div class="line"></div>
            <ul style="margin-bottom:25px">
              <%#=list_app_li_tag("吾思佛","一个佛学的网站","http://wusifo.com")%>
              <%#=list_app_li_tag("唱佛机","android版唱佛机","http://wusifo.com")%>
              <%#=list_app_li_tag("心经","般若波罗蜜多心经","http://fo.growcn.com")%>
            </ul>
            -->
            <div class="line"></div>
            <!--end line-->

            <ul>
                <li>
                    <dl>
                        <dt class="app-4">
                            <a href="#">
                            </a>
                        </dt>
                        <dd>
                            <h3>
                                <a href="#">
                                </a>
                            </h3>
                        </dd>
                    </dl>
                    <p>
                     
                    </p>
                </li>
                <li>
                    <dl>
                        <dt class="app-add">
                        </dt>
                        <dd>
                            <h4>
                                更多的应用 敬请期待！
                            </h4>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--end area-->
    <div class="areab">
        <div class="areabl">
        </div>
        <div class="areabr">
        </div>
    </div>
    <!--end areab-->
</div>
<!--end warp-->
